<html lang='vi'>
    <head>
        <meta charset='UTF-8' />
        <meta name='viewport' content='width=device-width, initial-scale=1.0' />
        <title>Blog-F8</title>
        <link rel='stylesheet' href='/src/resources/scss/app.scss' />
    </head>
    <body>
        <footer class='footer'>
            <div class='container'>
                <div class='footer__row'>
                    <!-- Giới thiệu -->
                    <div class='footer__column'>
                        <h3>Về Chúng Tôi</h3>
                        <p>Nền tảng học lập trình hàng đầu, giúp bạn tiếp cận
                            kiến thức từ cơ bản đến nâng cao.</p>
                    </div>

                    <!-- Danh mục khóa học -->
                    <div class='footer__column'>
                        <h3>Khóa Học</h3>
                        <ul>
                            <li><a href='#'>HTML & CSS</a></li>
                            <li><a href='#'>JavaScript</a></li>
                            <li><a href='#'>ReactJS</a></li>
                            <li><a href='#'>NodeJS</a></li>
                        </ul>
                    </div>

                    <!-- Liên kết hữu ích -->
                    <div class='footer__column'>
                        <h3>Liên Kết</h3>
                        <ul>
                            <li><a href='#'>Về chúng tôi</a></li>
                            <li><a href='#'>Hướng dẫn học</a></li>
                            <li><a href='#'>Liên hệ</a></li>
                        </ul>
                    </div>

                    <!-- Mạng xã hội -->
                    <div class='footer__column'>
                        <h3>Kết Nối</h3>
                        <div class='footer__social'>
                            <a href='#'><i
                                    class='fa-brands fa-facebook'
                                ></i></a>
                            <a href='#'><i class='fa-brands fa-youtube'></i></a>
                            <a href='#'><i class='fa-brands fa-twitter'></i></a>
                        </div>
                    </div>
                </div>

                <!-- Bản quyền -->
                <div class='footer__copyright'>
                    <p>&copy; 2025 - Học lập trình. All rights reserved.</p>
                </div>
            </div>
        </footer>

    </body>
</html>