<nav class='navbar navbar-expand-lg bg-ColorFull'>
    <div class='container-fluid container'>
        <a class='navbar-brand' href='/'>F8 Courses</a>
        <div class='navbar-collapse' id='navbarSupportedContent'>
            <ul class='navbar-nav ml-auto'>
                {{#if user}}
                    <li class='nav-item dropdown'>
                        <a
                            class='nav-link dropdown-toggle'
                            href='#'
                            role='button'
                            data-bs-toggle='dropdown'
                            aria-expanded='false'
                        >
                            {{user.name}} <!-- Hiển thị tên người dùng -->
                        </a>
                        <ul class='dropdown-menu'>
                            <li class='nav-item'>
                                <a class='dropdown-item' href='/courses/create'>Đăng khóa học</a>
                            </li>
                            <li class='nav-item'>
                                <a class='dropdown-item' href='/news/create'>Đăng bài viết</a>
                            </li>
                            <li><hr class='dropdown-divider'></li>
                            <li class='nav-item'>
                                <a class='dropdown-item' href='/me/stored/courses'>Lưu trữ khóa học</a>
                            </li>
                            <li class='nav-item'>
                                <a class='dropdown-item' href='/me/stored/news'>Lưu trữ bài viết</a>
                            </li>
                            <li><hr class='dropdown-divider'></li>
                            <li><a class='dropdown-item' href='/auth/logout'>Đăng xuất</a></li>
                        </ul>
                    </li>
                {{else}}
                    <li class='nav-item'>
                        <a class='nav-link' href='/auth/login'>Đăng nhập</a>
                    </li>
                    <li class='nav-item'>
                        <a class='nav-link' href='/auth/register'>Đăng ký</a>
                    </li>
                {{/if}}
            </ul>
        </div>
    </div>
</nav>