<div class="mt-4">
    <form method="GET" action="/news">
        <div class="form-floating mb-3">
          <input
            type="text"
            class="form-control"
            id="search-input"
            placeholder="Nhập từ khóa"
            name="q"
          />
          <label for="search-input">Từ khóa</label>
        </div>
        
        <button type="submit" class="btn btn-primary mt-4">Tìm kiếm</button>
    </form>
</div>